<h1>Create your flat <br>
  (give it a nice name!)</h1>


<%= form_for :flat, url: flats_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.submit %>
  </p>
<% end %>
