<head>
  <title>flatm8</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100" rel="stylesheet">
</head>

<body>
  <div id="login">
    <h1>
      flatm8
    </h1>
    <h2>
      make your flat more productive
    </h2>
    <button href="/flats/new" id="btn-create" class="btn btn-l">
      Create flat
    </button>
    <div class="row">
      <button href="/flats/join" id="btn-join" class="btn btn-m">
        Join flat
      </button>
      <button href="#" id="btn-sign-in" class="btn btn-s">
        Sign in
      </button>
    </div>
  </div>
</body>
