<head>
  <title>
    flatm8
  </title>
</head>

<body>
  <div id="login">
    <h1>
      flatm8
    </h1>
    <h2>
      make your flat more productive
    </h2>
    <%= link_to "Create flat", new_flat_path, :class =>  "btn btn-l", :id => "btn-new-flat"%>
    <!-- <a href="/flats/new" id="btn-create" class="btn btn-l">
      Create flat
    </a> -->
    <%= link_to "Join flat", new_flat_path, :class =>  "btn btn-m", :id => "btn-join-flat"%>
    <!-- <a href="/flats/join" id="btn-join" class="btn btn-m">
      Join flat
    </a> -->
    <%= link_to "Login", new_user_session_path, :class =>  "btn btn-s", :id => "btn-sign-in"%>
    <!-- <a href="/users/sign_in" id="btn-sign-in" class="btn btn-s">
      Sign in
    </a> -->
  </div>
</body>
