// Place all the styles related to the mainController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$f-color: #ddd;

// import google fonts:
@import url('https://fonts.googleapis.com/css?family=Raleway:100|Roboto:100,400');

* {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: $f-color;
}

.g {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

body {
    background: url("index-bg.png");
    background-attachment: fixed;
    background-repeat: repeat;
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

#login {
  display: block;
  height: auto;
  padding: 30px 10% 20px 10%;
}

h1 {
    font-family: Raleway, sans-serif;
    font-size: 48px;
    font-weight: 100;
    text-decoration: underline;
    letter-spacing: 5px;
    text-align: center;
    font-variant-ligatures: none;
    color: $f-color;
}

h2 {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 1px;
    text-align: center;
    font-variant-ligatures: none;
    color: $f-color;
}


.btn {
    // background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    // background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    // background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    // background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    // background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    // filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#ffffff', endColorstr='#f6f6f6',GradientType=0);

    //border: 1px solid #dcdcdc;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: table;
    border: 0;
    cursor: pointer;
    color: #555;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    // text-shadow: 0 1px 0 $b-color;
    text-transform: uppercase;
    min-width: 10px;
    margin: 40px auto;
    text-align: center;
}

$color-sel: #5eb1ed; // #FF7F50;
$color1: #ddd;
$color2: #F0C419;
$color3: #1FB4DB;

.btn:hover {
    // background: -webkit-linear-gradient(top, $coral-orange 5%, $coral-light 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $coral-orange), color-stop(1, $coral-light));
    // background: -moz-linear-gradient(top, $coral-orange 5%, $coral-light 100%);
    // background: -o-linear-gradient(top, $coral-orange 5%, $coral-light 100%);
    // background: -ms-linear-gradient(top, $coral-orange 5%, $coral-light 100%);
    // background: linear-gradient(to bottom, $coral-orange 5%, $coral-light 100%);
    // filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=  '#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color: $color-sel;
    color: #222;
    text-shadow: none;
}

.btn:active {
    position: relative;
    top: 1px;
    background-color: #80c8fc;
    color: #444;
}

$rad: 100px;

$padd-l: 30px;
.btn-l {
  background-color: $color1;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
  border-radius: $rad;
  padding: $padd-l (2 * $padd-l);
  font-size: ($padd-l + 4px);
}

$padd-m: 20px;
.btn-m {
  background-color: $color1;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
  border-radius: $rad;
  padding: $padd-m (2 * $padd-m);
  font-size: ($padd-m + 4px);
}

$padd-s: 16px;
.btn-s {
    background-color: $color1;
    -moz-border-radius: $rad;
    -webkit-border-radius: $rad;
    border-radius: $rad;
    padding: $padd-s (2 * $padd-s);
    font-size: ($padd-s + 4px);
}
